/*
Colors used:
Primary Color (sage green): #8aad97;
Secondary Color (blue): #393baf;
*/
header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    background: #ded9d5;
    border-bottom: solid #BDBDBD 2px;
    text-align: center;
}

body {
    background-color: #ded9d5;
    font-family: "lora", serif;
    font-size: 16px;
    /*set the font size to 16*/
    font-weight: 300;
    /* sets the font weight to 300*/
    line-height: 1.6;
    /* sets the line-hight to 1.6* the font-size */
    color: #000000;
    margin: 0px;
}

main {
    padding-top: 135px;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 auto;
}

h2 {
    font-size: 2.0em;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
}

h4 {
    font-size: 1.15em;
    font-weight: 400;
}

.h3-dark {
    font-weight: 500;
}

img {
    width: 100%;
}

a {

    text-decoration: none;
    /* No underlining */
    transition-duration: 0.5s;
    transition-property: color;

}

a:hover {
    color: #f2eeed;

}

a:active {
    /* selected link */
    color: #994c30;
}

.button {
    display: inline-block;
    background-color: #a58f7c;
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    border-bottom: 2px solid #7a6450;
    transition-duration: 0.5s;
    transition-property: opacity;
}

.button:hover {
    opacity: 0.7;
}

.button:active {
    opacity: 0.6;
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #393baf;
    text-transform: uppercase;
    border: 2px solid #3c57db;
}

.button.contact:hover {
    background-color: #71a9d1;
    color: #ffffff;
}

code {
    background-color: black;
    color: #b4d455;
    padding: 5px;
}

/* custom classes to help  */
.makeUppercase {
    text-transform: uppercase;
}

.makeLowercase {
    text-transform: lowercase;
}

.underlineMe {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* layout styling  */
.container {
    padding: 0 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0 10px;
}

.logo {
    max-width: 50px;

}

nav {
    display: inline-block;

}

nav>ul {
    list-style-type: none;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000 !important;
}

a>img {
    width: 20%;
}

.footer-image {
    height: 30px;
    padding: 20px 0;
}

.berlin {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.berlin-desc {
    padding-top: 150px
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    .col-md-6 {
        width: 50%;
        padding: 0 30px;
        
    }

    #aboutme h3 {
        margin-top: 0;
    }

    a>img {
        width: 15%;
    }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    #hero span {
        display: block;
    }

    .col-lg-7 {
        width: 60%;
        padding: 0 30px;
    }

    .col-lg-5 {
        width: 40%;
        padding: 0 30px;
    }

    a>img {
        width: 10%;
    }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}