/*
Colors used:
Primary Color (sage green): #8aad97;
Secondary Color (blue): #393baf;
*/
header {
  position: fixed;
  width: 100%;
  background: #ded9d5;
  border-bottom: solid #BDBDBD 2px;
  box-shadow: 0px 0px 15px 2px rgba(66, 66, 66, 0.4);
  padding: 10px 0 4px;
  z-index: 1000;
}

body {
  background-color: #ded9d5;
  font-family: 'lora', serif;
  font-size: 16px;
  /*set the font size to 16*/
  font-weight: 300;
  /* sets the font weight to 300*/
  line-height: 1.6;
  /* sets the line-hight to 1.6* the font-size */
  color: #000000;
  margin: 0px;
}

main {
  padding-top: 135px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0 auto;
}

h2 {
  font-size: 1.6em;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
}

.h3-dark {
  font-weight: 550;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  /* No underlining */
  transition-duration: 0.5s;
  transition-property: color;
}

a:hover {
  color: #f2eeed;
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #a58f7c;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
  border-bottom: 2px solid #7a6450;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  opacity: 0.6;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #393baf;
  text-transform: uppercase;
  border: 2px solid #3c57db;
}

.button.contact:hover {
  background-color: #71a9d1;
  color: #ffffff;
}

code {
  background-color: black;
  color: #b4d455;
  padding: 5px;
}

/* custom classes to help  */
.makeUppercase {
  text-transform: uppercase;
}

.makeLowercase {
  text-transform: lowercase;
}

.underlineMe {
  text-decoration: underline;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.right {
  text-align: right;
}

/* layout styling  */
.container {
  padding: 0 25px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

.logo {
  max-width: 50px;
}

.copyright {
  font-size: 0.85em;
  color: #4e4e4e;
  font-weight: 200;
  text-align: center;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000 !important;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(177, 177, 177, 0.5);
  text-align: right;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

a>img {
  width: 20%;
}

.about-content picture img {
  max-width: 400px;
  /* Adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  padding-left: 20px;
}

.footer-image {
  height: 30px;
  padding: 20px 0;
}

/*/////////////////// Flip Card Styles ///////////////////////*/

.flip-card {
  cursor: pointer;
  position: relative;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  transition: transform 1s ease;
  transform-style: preserve-3d;
  border: solid #BDBDBD 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 2px rgba(66, 66, 66, 0.4);
  margin: 25px 0;
}

.flip-card-front {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 20px;
  background: #ded9d5;
  padding: 50px;
  box-sizing: border-box;
}

.flip-card-back {
  transform: rotateY(180deg);
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
  padding: 50px;
  box-sizing: border-box;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card.flipped .flip-card-front {
  opacity: 0;
  pointer-events: none;
}

.flip-card.flipped .flip-card-back {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#austin_animation {
  width: 100%;
  /* Ensure it's responsive on mobile */
  max-width: 400px;
  /* Limit its max size on smaller screens to prevent overflow */
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  /* Important for centering */
  margin: 0 auto;
  /* Center horizontally on mobile */
  object-fit: contain;
  /* Prevents distortion, good for SVGs */
  max-height: none;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    padding: 20px 0 13px;
  }

  .container {
    padding: 0 50px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul>li {
    display: inline-block;
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
    padding: 0 20px;
  }

  #aboutme h3 {
    margin-top: 0;
  }

  a>img {
    width: 15%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .container {
    padding: 0 150px;
  }

  #hero span {
    display: block;
  }

  .col-lg-7 {
    width: 60%;
    padding: 0 20px;
  }

  .col-lg-5 {
    width: 40%;
    padding: 0 20px;
  }

  a>img {
    width: 10%;
  }

  .about-content picture {
    float: right;
    max-width: 450px;
    margin-right: 20px;
    /* Add space between image and text */
  }

}